{% extends 'base.html' %}

{% block content %}
    <section>
        <div class="container-fluid text-center" style="margin-top:80px">
          <h3>Summary of working experience</h3>
            <p>Jan. 2018 – now 	 				                                                                            Developer YesUp Media. </p>
            <p>Scrawling contents and saving in MySQL and do data mining. Convert categorical data to numerical data into  dimensional database using suitable encoding method. Using Python libraries of pandas, numpy, and matplotlib to clean, analyze raw data and visualize them.
            Building machine learning model of Decision Tree, Linear Logistic, Random Forest, SVM. After improving the ML model by comparing with the test dataset and modify the training dataset consequently, employ the optimum model for predicting customers’ behavior for assisting to release our ads of product.
            Setting up distributed scrawling project structure. Using Python scrapy-splash combined with Kafka scrawling articles, advertisement data from several blogging websites.
                Building and testing websites using Django, wagtail, automation test libraries for real estate brokerages and deploy the web application to AWS elastic BeanStalk. </p>
            <p>Aug. 2017 – Dec. 2017 	 				                                                                     Data Engineer HouseSigma Co.</p>
            <p>Implementing the job to do Text Mining using Python libraries
            Further processing the dataset of the GTA houses describing features in the company’s database saved in MySQL. Querying, cleaning, processing the database.
            Using NLP tools like NLTK, Spacy, Word2vec, sense2vec, Gensim to process the reviews of customers, i.e., tokenization, lemmatization, features extraction, and clustering for building deep learning model of predicting housing price.
                Build and test ML models using AWS  </p>
            <p> Oct. 2013 – May. 2014 	 				                          Speech Recognition Engineer China Shipbuilding Industry Corporation No.709 Institute</p>
            <p>Research on speech recognition under special noisy environment
            Designed and implemented the recognition module for speech signals using DTW, HMM, VQ-SVM and RVM algorithms in Matlab and python2.7.
                Designed and implemented the human-computer interfaces for real time speech signal analysis and display.</p>

        </div>
    </section>
{% endblock %}